body {
    font-family: Arial;
    background: #f3f4f6;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.Present { background: #d1fae5; }
.Absent { background: #fee2e2; }